---
interface Props {
	label: string;
	href: string;
}

const { label, href } = Astro.props;
---

<a
	class="hover:text-primary"
	href={href}
	aria-label={`${label} page`}
	title={`${label} page`}
>
	{label}
</a>